# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
.logs/
*.zip

# Operating System Files
.DS_Store
Thumbs.db

# User-specific config
*.suo
*.user
*.userprefs
