/* App shell additions. */
.status {
  margin: {{ space_md }} 0 0;
  padding: {{ space_sm }} {{ space_md }};
  background: {{ color_surface_sunken }};
  border-left: 3px solid {{ color_accent_default }};
  font-size: {{ font_size_small }};
}
.chips { margin-bottom: {{ space_md }}; }
